<?xml version="0.0" ?>
<robot name="tracker">
  <link name="trackerLink">
  <contact>
      <lateral_friction value="100"/>
  </contact>
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
       <mass value=".0"/>
       <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
	    <mesh filename="vr_tracker_vive_x_led.stl" scale="1 1 1"/>
      </geometry>
       <material name="grey">
        <color rgba="0.5 0.5 0.5 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
	    <mesh filename="vr_tracker_vive_x_led.stl" scale="1 1 1"/>
      </geometry>
       <material name="grey">
        <color rgba="0.5 0.5 0.5 1"/>
      </material>
    </collision>
  </link>
</robot>

